body {
  color: $clr-primary-300;
  font-family: $ff-default;
  font-size: $fs-300;
  line-height: 1.5;
}

p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: $ff-default;
}

h1 {
  color: $clr-primary-400;
  font-size: $fs-700;
  letter-spacing: -0.125rem;
  line-height: 0.8;
  margin-bottom: 1rem;
}

h2 {
  font-size: $fs-400;
  line-height: 1.2;
}

h3 {
  font-size: $fs-300;
}

h4 {
  font-size: $fs-200;
}

cite {
  font-style: normal;
}
