.header {
  text-align: center;

  &__description {
    font-size: $fs-400;
    font-weight: $fw-500;
  }
}

@include breakpoint(620) {
  .header {
    text-align: left;

    &__title {
      max-width: 13ch;
      font-size: $fs-800;
      margin-bottom: 1.5rem;
    }

    &__description {
      font-size: $fs-500;
    }
  }
}

@include breakpoint(900) {
  .header__title {
    font-size: $fs-900;
  }
}
